<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>480213291741-o0hqm8eg7lvft87b20ljq3mtdta0edf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.480213291741-o0hqm8eg7lvft87b20ljq3mtdta0edf5</string>
	<key>API_KEY</key>
	<string>AIzaSyB5scjirYu0-bCW54P07asR7NELQccqZ74</string>
	<key>GCM_SENDER_ID</key>
	<string>480213291741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rw.firebase.gettingstarted</string>
	<key>PROJECT_ID</key>
	<string>morralla-40f53</string>
	<key>STORAGE_BUCKET</key>
	<string>morralla-40f53.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:480213291741:ios:11bd119eb6688866</string>
	<key>DATABASE_URL</key>
	<string>https://morralla-40f53.firebaseio.com</string>
</dict>
</plist>